* {
  box-sizing: border-box;
}

.frame2 {
  position: relative;
  width: 488px;
  height: 171px;

  .frame {
    display: flex;
    position: absolute;
    top: 73px;
    left: 6px;
    align-items: center;
    padding-right: 1px;
    width: 482px;
    height: 98px;

    .vector24 {
      position: relative;
      margin-left: -1px;
      width: 482px;
      height: 98px;
      background-image: url(../image/mohwmsde-nlzwmtj.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      .text {
        position: absolute;
        top: 9px;
        left: 173px;
        width: 289px;
        height: 57px;
        letter-spacing: 0;
        color: #000000;
        font-family: "Lantinghei SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 600;
      }

      .group43 {
        position: absolute;
        top: 1px;
        left: 0;
        width: 482px;
        height: 78px;
      }
    }
  }

  .maskGroup {
    position: absolute;
    top: 0;
    left: 0;
    width: 166px;
    height: 140px;
  }
}
