* {
  box-sizing: border-box;
}

.frame {
  position: relative;
  width: 504px;
  height: 264px;

  .union {
    position: absolute;
    top: 5px;
    left: 3px;
    width: 499px;
    height: 254px;
    rotate: 1deg;
  }

  .union2 {
    display: flex;
    position: absolute;
    top: 23px;
    left: 11px;
    align-items: flex-start;
    padding: 36px 44px 166px 90px;
    width: 474px;
    height: 224px;
    background-image: url(../image/moiu2v2b-9m0d65g.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .text {
      line-height: 22px;
      letter-spacing: -2.22px;
      color: #000000;
      font-family: "HYQiHeiY3", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 44px;
    }
  }
}
