* {
  box-sizing: border-box;
}

.nO52 {
  display: flex;
  align-items: center;
  padding-right: 1px;
  width: 1286px;
  height: 37px;

  .vector {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 3px 66px 4px 24px;
    background-image: url(../image/moiulqja-t4bwpkl.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .nO5 {
      width: 124px;
      line-height: 29px;
      letter-spacing: -1.8px;
      color: #000000;
      font-family: "HYQiHeiY3", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 36px;
    }

    .zZfige {
      margin: 0px 0px 0px 150px;
      width: 188px;
      line-height: 29px;
      letter-spacing: -1.8px;
      color: #000000;
      font-family: "HYQiHeiY3", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 36px;
    }

    .a1550S3 {
      margin: 0px 0px 0px 249px;
      width: 164px;
      line-height: 29px;
      letter-spacing: 0;
      color: #000000;
      font-family: "HYQiHeiY3", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 0;

      .a1550S {
        line-height: 29px;
        letter-spacing: -1.8px;
        color: #000000;
        font-family: "HYQiHeiY3", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 36px;
      }

      .a1550S2 {
        line-height: 29px;
        letter-spacing: -1.16px;
        color: #000000;
        font-family: "HYQiHeiY3", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 23px;
      }
    }

    .text {
      margin: 0px 0px 0px 162px;
      width: 160px;
      line-height: 29px;
      letter-spacing: -1.8px;
      color: #000000;
      font-family: "HYQiHeiY3", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 36px;
    }
  }
}
