* {
  box-sizing: border-box;
}

.frame {
  position: relative;
  width: 355px;
  height: 268px;

  .rectangle17 {
    position: absolute;
    top: 0;
    left: 0;
    width: 346px;
    height: 268px;
  }

  .rectangle18 {
    position: absolute;
    top: 74px;
    left: 297px;
    width: 58px;
    height: 84px;
  }

  .rectangle16 {
    position: absolute;
    top: 11px;
    left: 10px;
    width: 331px;
    height: 246px;
    background-image: url(../image/mofuik36-9u30kl8.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .text {
      position: absolute;
      top: 19px;
      left: 205px;
      width: 106px;
      height: 90px;
      line-height: 45px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: "HYQiHeiY3", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 50px;
    }

    .sTargame {
      position: absolute;
      top: 75px;
      left: 90px;
      width: 208px;
      height: 91px;
      line-height: 37px;
      letter-spacing: -2.97px;
      color: #b6fc0a;
      font-family: "HYQiHeiY3", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 60px;
    }
  }

  .vector50 {
    position: absolute;
    top: 86px;
    left: 9px;
    width: 32px;
    height: 50px;
  }

  .jimeng2026041817311 {
    position: absolute;
    top: 108px;
    left: 23px;
    width: 83px;
    height: 103px;
    rotate: -18deg;
  }
}
