* {
  box-sizing: border-box;
}

.frame8 {
  display: flex;
  align-items: flex-start;
  padding-right: 1px;
  width: 518px;
  height: 550px;
  overflow: hidden;

  .frame7 {
    position: relative;
    margin-top: -2px;
    width: 518px;
    height: 552px;

    .text4 {
      letter-spacing: 0;
      color: #a3a3a3;
      font-family: "Lantinghei SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 18px;
      font-weight: 600;
    }

    .union {
      position: absolute;
      top: 64px;
      left: 299px;
      width: 157px;
      height: 157px;
      rotate: 1deg;
    }

    .rectangle8 {
      position: absolute;
      top: 0;
      left: 34px;
      width: 457px;
      height: 552px;
    }

    .rectangle7 {
      position: absolute;
      top: 142px;
      left: 0;
      width: 481px;
      height: 153px;
    }

    .rectangle9 {
      display: flex;
      position: absolute;
      top: 275px;
      left: 33px;
      align-items: flex-start;
      padding: 11px 13px 74px 421px;
      width: 485px;
      height: 140px;
      background-image: url(../image/mojcegr0-kbsrp3l.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      .vector49 {
        width: 52px;
        height: 56px;
      }
    }

    .rectangle10 {
      display: flex;
      position: absolute;
      top: 376px;
      left: 86px;
      align-items: flex-start;
      padding: 10px 11px 12px 8px;
      width: 416px;
      height: 133px;
      background-image: url(../image/mojcegr0-i24bmf2.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      .vector45 {
        width: 398px;
        height: 111px;
      }
    }

    .text {
      position: absolute;
      top: 92px;
      left: 140px;
      width: 210px;
      height: 32px;
      line-height: 32px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: "HYQiHeiY3", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 35px;
      rotate: 11deg;
    }

    .vector46 {
      position: absolute;
      top: 265px;
      left: 449px;
      width: 26px;
      height: 15px;
    }

    .skIllcongiguration {
      position: absolute;
      top: 136px;
      left: 135px;
      width: 282px;
      height: 20px;
      line-height: 20px;
      letter-spacing: 0;
      color: #747474;
      font-family: "HYQiHeiY3", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 22px;
      rotate: 11deg;
    }

    .frame2 {
      display: flex;
      position: absolute;
      top: 382px;
      left: 130px;
      align-items: flex-start;
      padding: 3px 1px 13px 7px;
      width: 349px;
      height: 91px;

      .autoWrapper {
        position: relative;
        margin-top: 51px;
        width: 139px;
        height: 25px;

        .text2 {
          position: absolute;
          top: -28px;
          left: -5px;
          width: 120px;
          height: 27px;
          line-height: 27px;
          letter-spacing: 0;
          color: #222222;
          font-family: "HYQiHeiY3", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 30px;
          rotate: -9deg;
        }

        .text5 {
          position: absolute;
          top: 0;
          left: 0;
          width: 139px;
          height: 25px;
          line-height: 25px;
          letter-spacing: 0;
          color: #000000;
          font-family: "Lantinghei SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 18px;
          font-weight: 600;
          rotate: -11deg;

          .text3 {
            letter-spacing: 0;
            color: #6fc900;
            font-family: "Lantinghei SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 18px;
            font-weight: 600;
          }
        }
      }

      .frame {
        margin-left: 78px;
        width: 125px;
        height: 52px;
        rotate: 2deg;
      }
    }

    .frame4 {
      display: flex;
      position: absolute;
      top: 285px;
      left: 99px;
      align-items: flex-start;
      justify-content: space-between;
      padding: 4px 2px 35px 1px;
      width: 377px;
      height: 92px;

      .autoWrapper2 {
        position: relative;
        margin-top: 24px;
        width: 120px;
        height: 27px;

        .text6 {
          position: absolute;
          top: 0;
          left: 0;
          width: 120px;
          height: 27px;
          line-height: 27px;
          letter-spacing: 0;
          color: #222222;
          font-family: "HYQiHeiY3", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 30px;
          rotate: -9deg;
        }

        .text8 {
          position: absolute;
          bottom: -30px;
          left: 4px;
          width: 91px;
          height: 25px;
          line-height: 25px;
          letter-spacing: 0;
          color: #000000;
          font-family: "Lantinghei SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 18px;
          font-weight: 600;
          rotate: -9deg;

          .text7 {
            letter-spacing: 0;
            color: #ff5e00;
            font-family: "Lantinghei SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 18px;
            font-weight: 600;
          }
        }
      }

      .frame3 {
        width: 125px;
        height: 52px;
        rotate: 4deg;
      }
    }

    .frame6 {
      display: flex;
      position: absolute;
      top: 197px;
      left: 54px;
      align-items: flex-start;
      padding-right: 3px;
      padding-bottom: 9px;
      width: 401px;
      height: 82px;

      .autoWrapper3 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;

        .text9 {
          line-height: 27px;
          letter-spacing: 0;
          color: #222222;
          font-family: "HYQiHeiY3", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 30px;
        }

        .text11 {
          margin: 5px 0px 0px 1px;
          line-height: 25px;
          letter-spacing: 0;
          color: #000000;
          font-family: "Lantinghei SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 18px;
          font-weight: 600;

          .text10 {
            letter-spacing: 0;
            color: #0084ff;
            font-family: "Lantinghei SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 18px;
            font-weight: 600;
          }
        }
      }

      .frame5 {
        margin-top: 21px;
        margin-left: 154px;
        width: 125px;
        height: 52px;
        rotate: 8deg;
      }
    }
  }
}
