* {
  box-sizing: border-box;
}

.group99 {
  display: flex;
  align-items: center;
  width: 228px;
  height: 66px;

  .vector24 {
    position: relative;
    width: 228px;
    height: 66px;
    background-image: url(../image/mojepyji-kgpvbmp.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .text3 {
      position: absolute;
      top: 11px;
      left: 23px;
      width: 140px;
      height: 28px;
      line-height: 28px;
      letter-spacing: 0;
      color: #000000;
      font-family: "Lantinghei SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 600;

      .text {
        letter-spacing: 0;
        color: #f43a3c;
        font-family: "Lantinghei SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 600;
      }

      .text2 {
        letter-spacing: 0;
        color: #8b8b8b;
        font-family: "Lantinghei SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 600;
      }
    }

    .group43 {
      display: flex;
      position: absolute;
      top: 1px;
      left: 0;
      align-items: flex-start;
      padding: 11px 25px 15px 170px;
      width: 228px;
      height: 52px;
      background-image: url(../image/mojepyji-zzqgppz.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      .rectangle {
        width: 33px;
        height: 25px;
      }
    }
  }
}
