* {
  box-sizing: border-box;
}

.frame {
  display: flex;
  align-items: center;
  width: 370px;
  height: 89px;

  .jimeng2026041997781 {
    opacity: 0.2;
    width: 370px;
    height: 89px;
  }
}
