* {
  box-sizing: border-box;
}

.group72 {
  position: relative;
  width: 71px;
  height: 372px;

  .rectangle107 {
    position: absolute;
    top: 0;
    left: 0;
    width: 51px;
    height: 66px;
  }

  .mAp {
    position: absolute;
    top: 15px;
    left: 6px;
    width: 58px;
    height: 15px;
    line-height: 15px;
    letter-spacing: -1.17px;
    color: #bababa;
    font-family: "HYQiHeiY3", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 23px;
  }

  .rectangle106 {
    display: flex;
    position: absolute;
    top: 37px;
    left: 0;
    align-items: flex-start;
    padding: 43px 10px 49px 8px;
    width: 71px;
    height: 335px;
    background-image: url(../image/mohww485-jmprjqe.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .group73 {
      position: relative;
      width: 53px;
      height: 243px;

      .rectangle90 {
        position: absolute;
        top: 108px;
        left: -77px;
        background: #959595;
        width: 207px;
        height: 18px;
        rotate: 90deg;
      }

      .maskGroup {
        position: absolute;
        top: 3px;
        left: 13px;
        width: 29px;
        height: 236px;
      }

      .ellipse34 {
        position: absolute;
        top: 0;
        left: 16px;
        border: 2px solid #222222;
        border-radius: 50%;
        background: #d9d9d9;
        width: 23px;
        height: 23px;
      }

      .group64 {
        position: absolute;
        top: 209px;
        left: 0;
        width: 53px;
        height: 28px;
      }

      .rectangle115 {
        position: absolute;
        top: 110px;
        left: 9px;
        background: #222222;
        width: 36px;
        height: 10px;
      }

      .a1000 {
        position: absolute;
        top: 231px;
        left: 1px;
        width: 50px;
        height: 12px;
        line-height: 12px;
        letter-spacing: -0.94px;
        color: #edea74;
        font-family: "HYQiHeiY3", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 19px;
      }

      .a500 {
        position: absolute;
        top: 108px;
        left: 7px;
        width: 38px;
        height: 12px;
        line-height: 12px;
        letter-spacing: -0.94px;
        color: #d9d9d9;
        font-family: "HYQiHeiY3", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 19px;
      }
    }
  }
}
