* {
  box-sizing: border-box;
}

.frame {
  display: flex;
  align-items: center;
  padding-top: 1px;
  width: 326px;
  height: 66px;

  .vector24 {
    position: relative;
    width: 326px;
    height: 66px;
    background-image: url(../image/moh5gwvv-go9njah.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .text2 {
      letter-spacing: 0;
      color: #8b8b8b;
      font-family: "Lantinghei SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 600;
    }

    .text {
      letter-spacing: 0;
      color: #0084ff;
      font-family: "Lantinghei SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 600;
    }

    .text3 {
      position: absolute;
      top: 11px;
      left: 152px;
      width: 140px;
      height: 28px;
      line-height: 28px;
      letter-spacing: 0;
      color: #000000;
      font-family: "Lantinghei SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 600;
    }

    .text5 {
      position: absolute;
      top: 5px;
      left: 21px;
      width: 125px;
      height: 40px;
      line-height: 40px;
      letter-spacing: 0;
      color: #000000;
      font-size: 20px;

      .text4 {
        letter-spacing: 0;
        color: #0084ff;
        font-family: "Douyin Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 700;
      }
    }

    .group43 {
      position: absolute;
      top: 1px;
      left: 0;
      width: 326px;
      height: 53px;
    }
  }
}
