* {
  box-sizing: border-box;
}

.group72 {
  position: relative;
  width: 71px;
  height: 372px;

  .rectangle107 {
    position: absolute;
    top: 0;
    left: 0;
    width: 51px;
    height: 66px;
  }

  .mAp {
    position: absolute;
    top: 15px;
    left: 6px;
    width: 58px;
    height: 15px;
    line-height: 15px;
    letter-spacing: -1.17px;
    color: #bababa;
    font-family: "HYQiHeiY3", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 23px;
  }

  .rectangle106 {
    position: absolute;
    top: 37px;
    left: 0;
    width: 71px;
    height: 335px;
  }
}
